* { margin:0; padding:0; }
i.fa { cursor:pointer; }
 
@media screen and (min-width:601px) {
  .app { width:50%; float:left; }
  #todo-network { width:50%; height:100vh; float:left; }
  .list-group-item .todo-info { float:left; width:70%; }
  .list-group-item .time-info { float:left; width:20%; text-align:center; }
  .list-group-item .item-ops { float:right; width:10%; }
  .todo-info .checkbox-wrapper { width:5%; float: left; }
  .todo-info .checkbox-wrapper input[type=checkbox] { margin:2px 0 0; }
  .todo-info span { width:90%; float: left; display:inline-block; }
  .item-ops i { padding:1px; }
}

@media screen and (max-width:600px) {
  * { font-size:12px; }
  .app { width:100%; }
  #todo-network { display:none; }
  .list-group-item .todo-info { float:left; width:70%; }
  .list-group-item .time-info { float:left; width:25%; text-align:center; }
  .list-group-item .item-ops { float:right; width:5%; }
  .todo-info .checkbox-wrapper { width:10%; float: left; }
  .todo-info .checkbox-wrapper input[type=checkbox] { margin:2px 0 0; }
  .todo-info span { width:90%; float: left; display:inline-block; }
  .item-ops i { padding:1px; }
}

.list-group-item { height:auto; overflow:hidden; }
.list-group-item-data:hover { opacity:0.8; background:#eee; }
.list-group-item.selected-item span,
.list-group-item.selected-item .time-info { text-decoration:line-through; color:#777;}
.add-todo-item {
  float:left; width:90%; height:24px; border:none; border-bottom:1px solid #ccc; box-shadow:none;
  border-radius:0px; padding:0px;
}
.add-todo-item:focus { box-shadow:none; }
.system-ops { width:10%; float:left; }
#todoStorage { width: 100% !important; }
