* { margin:0; padding:0; }
i.fa { cursor:pointer; }
 
@media screen and (min-width:601px) {
  .app { width:50%; float:left; }
  .list-group-item .todo-info { float:left; width:70%; }
  .list-group-item .time-info { float:left; width:20%; text-align:center; }
  .list-group-item .item-ops { float:right; width:10%; }
  .todo-info .checkbox-wrapper { width:5%; float: left; }
  .todo-info .checkbox-wrapper input[type=checkbox] { margin:2px 0 0; }
  .todo-info span { width:90%; float: left; display:inline-block; }
  .item-ops i { padding:1px; }
  .add-todo-item { width:90%; }
  .system-ops { width:10%; float:left; }
}

@media screen and (max-width:600px) {
  * { font-size:12px; }
  i.fa { font-size:15px; }
  .app { width:100%; }
  .list-group-item .todo-info { float:left; width:63%; }
  .list-group-item .time-info { float:left; width:25%; text-align:center; }
  .list-group-item .item-ops { float:right; width:12%; }
  .todo-info .checkbox-wrapper { width:10%; float: left; }
  .todo-info .checkbox-wrapper input[type=checkbox] { margin:2px 0 0; }
  .todo-info span { width:90%; float: left; display:inline-block; }
  .item-ops i { padding:1px; }
  .add-todo-item { width:88%; }
  .system-ops { width:12%; float:left; margin-top:5px; }
  .right { display:none; }
}

.list-group-item { height:auto; overflow:hidden; }
.list-group-item-data:hover { opacity:0.8; background:#eee; }
.list-group-item.selected-item span,
.list-group-item.selected-item .time-info { text-decoration:line-through; color:#777;}
.add-todo-item {
  float:left; height:24px; border:none; border-bottom:1px solid #ccc; box-shadow:none;
  border-radius:0px; padding:0px;
}
.add-todo-item:focus { box-shadow:none; }
#todoStorage { width:100% !important; }
